<a href="https://colab.research.google.com/github/jtinklerdav/jtinklerdav.github.io/blob/main/Task4_Scrape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This code scrapes data from an academic paper describing the growth in wine over 5 different time periods. The link to the paper is here 'https://www.sciencedirect.com/science/article/pii/S2212977418300474'. The Paper depicts the European Wine Export Cycle, the table scraped is title 'table 2' an is found on the 5th page.

When scraping the table I attempted to use pandas to read the tables directly from the url however I was blocked from using this method. Instead, I copied the html for the table using the 'inspect' function and saved it onto my pc, from there I uploaded the scraped html into Colab and used pandas to read the html and replicate the table.

In [ ]:
import pandas as pd

In [ ]:
import requests

I used pd.read_html to read the scraped html

In [ ]:
pd.read_html('Wine_export_value.html')

[    Empty Cell 1957-1967  1968-1978  1979-1986  1987-1998  1999-2007  \
 0      Austria      -9.2       31.0      -27.7       13.6        9.2
 1     Bulgaria      15.4        3.4       -3.9       -2.2        1.9
 2       France       6.2        7.9        6.8        1.9       -0.8
 3      Germany       3.2       19.7        6.3       -1.5        5.1
 4       Greece       7.8        0.5        0.6       -1.4       -5.7
 5      Hungary      12.1        9.0       -2.4       -4.1       -3.0
 6        Italy       3.7       16.3       -6.8        3.5        1.3
 7     Portugal       3.4       -5.4        1.0        3.3        7.6
 8      Romania        __        4.6       -6.8        5.3       -8.1
 9        Spain       6.0        3.7       -2.3        7.7        6.7
 10  EU7 (mean)       3.0       10.5       -3.2        3.9        3.3

     2008-2016
 0        -3.1
 1       -12.9
 2         0.9
 3         0.1
 4         1.0
 5         0.5
 6         1.3
 7        -0.4
 8        -0.8
 9         4.9
 10        0.7  ]

In [ ]:
table_list=pd.read_html('Wine_export_value.html')

Then I checked how many elements were in the array, there was only 1. Afterwards I created a Dataframe that contained the first element of the array (the table) so thaat I could then transform it into long form from the wide form that it is in.

In [ ]:
len(table_list)

1

In [ ]:
table_list[0]

,Empty Cell,1957-1967,1968-1978,1979-1986,1987-1998,1999-2007,2008-2016
0,Austria,-9.2,31.0,-27.7,13.6,9.2,-3.1
1,Bulgaria,15.4,3.4,-3.9,-2.2,1.9,-12.9
2,France,6.2,7.9,6.8,1.9,-0.8,0.9
3,Germany,3.2,19.7,6.3,-1.5,5.1,0.1
4,Greece,7.8,0.5,0.6,-1.4,-5.7,1.0
5,Hungary,12.1,9.0,-2.4,-4.1,-3.0,0.5
6,Italy,3.7,16.3,-6.8,3.5,1.3,1.3
7,Portugal,3.4,-5.4,1.0,3.3,7.6,-0.4
8,Romania,__,4.6,-6.8,5.3,-8.1,-0.8
9,Spain,6.0,3.7,-2.3,7.7,6.7,4.9
10,EU7 (mean),3.0,10.5,-3.2,3.9,3.3,0.7

In [ ]:
df = table_list[0]

I renamed the column 'Empty Cell' to 'Country' and then, using .stack() I held the country and created individual rows for each observation. Then I dropped the 48th Row since it was the value for Romania between 1957-1967, which does not exist.

In [ ]:
df2=df.rename(columns={'Empty Cell':'Country'})

In [ ]:
df3=df2.set_index(['Country']).stack().reset_index()

In [ ]:
df3.drop(48)

       Country    level_1     0
0      Austria  1957-1967  -9.2
1      Austria  1968-1978  31.0
2      Austria  1979-1986 -27.7
3      Austria  1987-1998  13.6
4      Austria  1999-2007   9.2
..         ...        ...   ...
61  EU7 (mean)  1968-1978  10.5
62  EU7 (mean)  1979-1986  -3.2
63  EU7 (mean)  1987-1998   3.9
64  EU7 (mean)  1999-2007   3.3
65  EU7 (mean)  2008-2016   0.7

[65 rows x 3 columns]

In [ ]:
df4=df3.drop(48)

Then I renamed the columns to have a clear dataset

In [ ]:
df5=df4.rename(columns={'level_1':'Time Period', 0:'Export Growth'})

In [ ]:
df5

       Country Time Period Export Growth
0      Austria   1957-1967          -9.2
1      Austria   1968-1978          31.0
2      Austria   1979-1986         -27.7
3      Austria   1987-1998          13.6
4      Austria   1999-2007           9.2
..         ...         ...           ...
61  EU7 (mean)   1968-1978          10.5
62  EU7 (mean)   1979-1986          -3.2
63  EU7 (mean)   1987-1998           3.9
64  EU7 (mean)   1999-2007           3.3
65  EU7 (mean)   2008-2016           0.7

[65 rows x 3 columns]

Transforming the dataset into a json file below which can then be saved into Github and used in the visualisation!

In [ ]:
exported_values = list( df5.T.to_dict().values())

In [ ]:
import json

In [ ]:
exported_values

[{'Country': 'Austria', 'Time Period': '1957-1967', 'Export Growth': '-9.2'},
 {'Country': 'Austria', 'Time Period': '1968-1978', 'Export Growth': 31.0},
 {'Country': 'Austria', 'Time Period': '1979-1986', 'Export Growth': -27.7},
 {'Country': 'Austria', 'Time Period': '1987-1998', 'Export Growth': 13.6},
 {'Country': 'Austria', 'Time Period': '1999-2007', 'Export Growth': 9.2},
 {'Country': 'Austria', 'Time Period': '2008-2016', 'Export Growth': -3.1},
 {'Country': 'Bulgaria', 'Time Period': '1957-1967', 'Export Growth': '15.4'},
 {'Country': 'Bulgaria', 'Time Period': '1968-1978', 'Export Growth': 3.4},
 {'Country': 'Bulgaria', 'Time Period': '1979-1986', 'Export Growth': -3.9},
 {'Country': 'Bulgaria', 'Time Period': '1987-1998', 'Export Growth': -2.2},
 {'Country': 'Bulgaria', 'Time Period': '1999-2007', 'Export Growth': 1.9},
 {'Country': 'Bulgaria', 'Time Period': '2008-2016', 'Export Growth': -12.9},
 {'Country': 'France', 'Time Period': '1957-1967', 'Export Growth': '6.2'},
 {'Country': 'France', 'Time Period': '1968-1978', 'Export Growth': 7.9},
 {'Country': 'France', 'Time Period': '1979-1986', 'Export Growth': 6.8},
 {'Country': 'France', 'Time Period': '1987-1998', 'Export Growth': 1.9},
 {'Country': 'France', 'Time Period': '1999-2007', 'Export Growth': -0.8},
 {'Country': 'France', 'Time Period': '2008-2016', 'Export Growth': 0.9},
 {'Country': 'Germany', 'Time Period': '1957-1967', 'Export Growth': '3.2'},
 {'Country': 'Germany', 'Time Period': '1968-1978', 'Export Growth': 19.7},
 {'Country': 'Germany', 'Time Period': '1979-1986', 'Export Growth': 6.3},
 {'Country': 'Germany', 'Time Period': '1987-1998', 'Export Growth': -1.5},
 {'Country': 'Germany', 'Time Period': '1999-2007', 'Export Growth': 5.1},
 {'Country': 'Germany', 'Time Period': '2008-2016', 'Export Growth': 0.1},
 {'Country': 'Greece', 'Time Period': '1957-1967', 'Export Growth': '7.8'},
 {'Country': 'Greece', 'Time Period': '1968-1978', 'Export Growth': 0.5},
 {'Country': 'Greece', 'Time Period': '1979-1986', 'Export Growth': 0.6},
 {'Country': 'Greece', 'Time Period': '1987-1998', 'Export Growth': -1.4},
 {'Country': 'Greece', 'Time Period': '1999-2007', 'Export Growth': -5.7},
 {'Country': 'Greece', 'Time Period': '2008-2016', 'Export Growth': 1.0},
 {'Country': 'Hungary', 'Time Period': '1957-1967', 'Export Growth': '12.1'},
 {'Country': 'Hungary', 'Time Period': '1968-1978', 'Export Growth': 9.0},
 {'Country': 'Hungary', 'Time Period': '1979-1986', 'Export Growth': -2.4},
 {'Country': 'Hungary', 'Time Period': '1987-1998', 'Export Growth': -4.1},
 {'Country': 'Hungary', 'Time Period': '1999-2007', 'Export Growth': -3.0},
 {'Country': 'Hungary', 'Time Period': '2008-2016', 'Export Growth': 0.5},
 {'Country': 'Italy', 'Time Period': '1957-1967', 'Export Growth': '3.7'},
 {'Country': 'Italy', 'Time Period': '1968-1978', 'Export Growth': 16.3},
 {'Country': 'Italy', 'Time Period': '1979-1986', 'Export Growth': -6.8},
 {'Country': 'Italy', 'Time Period': '1987-1998', 'Export Growth': 3.5},
 {'Country': 'Italy', 'Time Period': '1999-2007', 'Export Growth': 1.3},
 {'Country': 'Italy', 'Time Period': '2008-2016', 'Export Growth': 1.3},
 {'Country': 'Portugal', 'Time Period': '1957-1967', 'Export Growth': '3.4'},
 {'Country': 'Portugal', 'Time Period': '1968-1978', 'Export Growth': -5.4},
 {'Country': 'Portugal', 'Time Period': '1979-1986', 'Export Growth': 1.0},
 {'Country': 'Portugal', 'Time Period': '1987-1998', 'Export Growth': 3.3},
 {'Country': 'Portugal', 'Time Period': '1999-2007', 'Export Growth': 7.6},
 {'Country': 'Portugal', 'Time Period': '2008-2016', 'Export Growth': -0.4},
 {'Country': 'Romania', 'Time Period': '1968-1978', 'Export Growth': 4.6},
 {'Country': 'Romania', 'Time Period': '1979-1986', 'Export Growth': -6.8},
 {'Country': 'Romania', 'Time Period': '1987-1998', 'Export Growth': 5.3},
 {'Country': 'Romania', 'Time Period': '1999-2007', 'Export Growth': -8.1},
 {'Country': 'Romania', 'Time Period': '2008-2016', 'Export Growth': -0.8},
 {'Country': 'Spain', 'Time Period': '1957-1967', 'Export Growth': '6.0'},
 {'Country': 'Spain', 'Time Period': '1968-1978', 'Export Growth': 3.7},
 {'Country': 'Spain', 'Time Period': '1979-1986', 'Export Growth': -2.3},
 {'Country': 'Spain', 'Time Period': '1987-1998', 'Export Growth': 7.7},
 {'Country': 'Spain', 'Time Period': '1999-2007', 'Export Growth': 6.7},
 {'Country': 'Spain', 'Time Period': '2008-2016', 'Export Growth': 4.9},
 {'Country': 'EU7 (mean)', 'Time Period': '1957-1967', 'Export Growth': '3.0'},
 {'Country': 'EU7 (mean)', 'Time Period': '1968-1978', 'Export Growth': 10.5},
 {'Country': 'EU7 (mean)', 'Time Period': '1979-1986', 'Export Growth': -3.2},
 {'Country': 'EU7 (mean)', 'Time Period': '1987-1998', 'Export Growth': 3.9},
 {'Country': 'EU7 (mean)', 'Time Period': '1999-2007', 'Export Growth': 3.3},
 {'Country': 'EU7 (mean)', 'Time Period': '2008-2016', 'Export Growth': 0.7}]

In [ ]:
open('Exported_Wine.json', 'w').write(json.dumps(exported_values))

4854

In [ ]:
json.dumps(exported_values)

'[{"Country": "Austria", "Time Period": "1957-1967", "Export Growth": "-9.2"}, {"Country": "Austria", "Time Period": "1968-1978", "Export Growth": 31.0}, {"Country": "Austria", "Time Period": "1979-1986", "Export Growth": -27.7}, {"Country": "Austria", "Time Period": "1987-1998", "Export Growth": 13.6}, {"Country": "Austria", "Time Period": "1999-2007", "Export Growth": 9.2}, {"Country": "Austria", "Time Period": "2008-2016", "Export Growth": -3.1}, {"Country": "Bulgaria", "Time Period": "1957-1967", "Export Growth": "15.4"}, {"Country": "Bulgaria", "Time Period": "1968-1978", "Export Growth": 3.4}, {"Country": "Bulgaria", "Time Period": "1979-1986", "Export Growth": -3.9}, {"Country": "Bulgaria", "Time Period": "1987-1998", "Export Growth": -2.2}, {"Country": "Bulgaria", "Time Period": "1999-2007", "Export Growth": 1.9}, {"Country": "Bulgaria", "Time Period": "2008-2016", "Export Growth": -12.9}, {"Country": "France", "Time Period": "1957-1967", "Export Growth": "6.2"}, {"Country": "France", "Time Period": "1968-1978", "Export Growth": 7.9}, {"Country": "France", "Time Period": "1979-1986", "Export Growth": 6.8}, {"Country": "France", "Time Period": "1987-1998", "Export Growth": 1.9}, {"Country": "France", "Time Period": "1999-2007", "Export Growth": -0.8}, {"Country": "France", "Time Period": "2008-2016", "Export Growth": 0.9}, {"Country": "Germany", "Time Period": "1957-1967", "Export Growth": "3.2"}, {"Country": "Germany", "Time Period": "1968-1978", "Export Growth": 19.7}, {"Country": "Germany", "Time Period": "1979-1986", "Export Growth": 6.3}, {"Country": "Germany", "Time Period": "1987-1998", "Export Growth": -1.5}, {"Country": "Germany", "Time Period": "1999-2007", "Export Growth": 5.1}, {"Country": "Germany", "Time Period": "2008-2016", "Export Growth": 0.1}, {"Country": "Greece", "Time Period": "1957-1967", "Export Growth": "7.8"}, {"Country": "Greece", "Time Period": "1968-1978", "Export Growth": 0.5}, {"Country": "Greece", "Time Period": "1979-1986", "Export Growth": 0.6}, {"Country": "Greece", "Time Period": "1987-1998", "Export Growth": -1.4}, {"Country": "Greece", "Time Period": "1999-2007", "Export Growth": -5.7}, {"Country": "Greece", "Time Period": "2008-2016", "Export Growth": 1.0}, {"Country": "Hungary", "Time Period": "1957-1967", "Export Growth": "12.1"}, {"Country": "Hungary", "Time Period": "1968-1978", "Export Growth": 9.0}, {"Country": "Hungary", "Time Period": "1979-1986", "Export Growth": -2.4}, {"Country": "Hungary", "Time Period": "1987-1998", "Export Growth": -4.1}, {"Country": "Hungary", "Time Period": "1999-2007", "Export Growth": -3.0}, {"Country": "Hungary", "Time Period": "2008-2016", "Export Growth": 0.5}, {"Country": "Italy", "Time Period": "1957-1967", "Export Growth": "3.7"}, {"Country": "Italy", "Time Period": "1968-1978", "Export Growth": 16.3}, {"Country": "Italy", "Time Period": "1979-1986", "Export Growth": -6.8}, {"Country": "Italy", "Time Period": "1987-1998", "Export Growth": 3.5}, {"Country": "Italy", "Time Period": "1999-2007", "Export Growth": 1.3}, {"Country": "Italy", "Time Period": "2008-2016", "Export Growth": 1.3}, {"Country": "Portugal", "Time Period": "1957-1967", "Export Growth": "3.4"}, {"Country": "Portugal", "Time Period": "1968-1978", "Export Growth": -5.4}, {"Country": "Portugal", "Time Period": "1979-1986", "Export Growth": 1.0}, {"Country": "Portugal", "Time Period": "1987-1998", "Export Growth": 3.3}, {"Country": "Portugal", "Time Period": "1999-2007", "Export Growth": 7.6}, {"Country": "Portugal", "Time Period": "2008-2016", "Export Growth": -0.4}, {"Country": "Romania", "Time Period": "1968-1978", "Export Growth": 4.6}, {"Country": "Romania", "Time Period": "1979-1986", "Export Growth": -6.8}, {"Country": "Romania", "Time Period": "1987-1998", "Export Growth": 5.3}, {"Country": "Romania", "Time Period": "1999-2007", "Export Growth": -8.1}, {"Country": "Romania", "Time Period": "2008-2016", "Export Growth": -0.8}, {"Country": "Spain", "Time Period": "1957-1967", "Export Growth": "6.0"}, {"Country": "Spain", "Time Period": "1968-1978", "Export Growth": 3.7}, {"Country": "Spain", "Time Period": "1979-1986", "Export Growth": -2.3}, {"Country": "Spain", "Time Period": "1987-1998", "Export Growth": 7.7}, {"Country": "Spain", "Time Period": "1999-2007", "Export Growth": 6.7}, {"Country": "Spain", "Time Period": "2008-2016", "Export Growth": 4.9}, {"Country": "EU7 (mean)", "Time Period": "1957-1967", "Export Growth": "3.0"}, {"Country": "EU7 (mean)", "Time Period": "1968-1978", "Export Growth": 10.5}, {"Country": "EU7 (mean)", "Time Period": "1979-1986", "Export Growth": -3.2}, {"Country": "EU7 (mean)", "Time Period": "1987-1998", "Export Growth": 3.9}, {"Country": "EU7 (mean)", "Time Period": "1999-2007", "Export Growth": 3.3}, {"Country": "EU7 (mean)", "Time Period": "2008-2016", "Export Growth": 0.7}]'